<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit Show {{ show_id }}</h1>

  <form action="/shows/{{ show_id }}/update">
    <div>
      <label>Title</label>
      <input type="text" name="title">
    </div>
    <div>
      <label>Network</label>
      <input type="text" name="network">
    </div>
    <div>
      <label>Release Date</label>
      <input type="date" name="date">
    </div>
    <div>
      <label>Description</label>
      <textarea name="description"><textarea>
    </div>
    <button><a href="/shows">Submit</a></button>
  </form>
</body>
</html>